---
layout: page
---
<div class="form-inline">
    <div class="form-group mx-sm-3 ">
        <input type="hidden" name="country" id="countryId" value="US"/>
        <select name="state" class="states order-alpha form-control" id="stateId">
            <option value="">Select State</option>
        </select>
    </div>
    <div class="form-group mx-sm-3">
        <select name="city" class="cities order-alpha form-control" id="cityId">
            <option value="">Select City</option>
        </select>
    </div>
    <button type="submit" onclick="runFunction()" class="btn btn-primary">
            View
    </button>
</div>

<iframe id ="mainFrame" class="container" height="600" frameborder = "0" scrolling = "no" src="cities/city_baton+rouge_LA.html"></iframe>
</div>

<script src="assets/js/state_abbreviation.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>

<script src="https://geodata.solutions/includes/statecity.js"></script>

<script>
	function runFunction()
    {
        var e = document.getElementById("stateId");
        var state_value = e.options[e.selectedIndex].value;
        var g = document.getElementById("cityId");
        var city_value = g.options[g.selectedIndex].value;

        var state_abbr = abbrState(state_value, 'abbr');

        var html_name = "cities/city_"+city_value+"_"+state_abbr+".html";
        document.getElementById('mainFrame').src = html_name;
    }
</script>
